body{
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
  
}
.data_user{
  width: 90vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding-left: 100px;
}
table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
